/**************************************************** Universal Styling ****************************************************/
* {
    font-family: "Inter";
    
}

a {
    text-decoration: none;
}

/**************************************************** Header Styling ****************************************************/
#workspaces-tab {
    font-weight: bold;
}

/**************************************************** Main Styling ****************************************************/
main {
    margin-top: 3%;
}

/**************************************************** Footer Styling ****************************************************/

/**************************************************** Navigation Bar Animation ****************************************************/

