/**************************************************** Navigation Bar ****************************************************/
header {
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 1%;
}

.navigation-bar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#FlexWorkspaceLogo {
    max-width: 250px;
    height: auto;
    cursor: pointer;
}

.center-tabs-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 20px;
}

.rightmost-tabs-container {
    display: flex;
    gap: 20px;
}

#flex-your-space-tab {
    margin-right: 20px;
}

#workspaces-tab, #experiences-tab, #flex-your-space-tab, #work-with-us-tab {
    color: black;
    text-transform: none;
    text-decoration: none solid white;
    cursor: pointer;
    position: relative;
    border: none;
}

#work-with-us-tab {
    font-size: medium;
}

#work-with-us-tab {
    background-color: #EEEEEE;
    padding: 15px;
    border-radius: 50px;
}

.work-with-us-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 180px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
    z-index: 1;
    margin-left: 6.5%;
    margin-top: 1%;
    border-radius: 10px;
}

.work-with-us-dropdown-content a {   
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.work-with-us-dropdown-content a:hover {
    background-color: #EEEEEE;
    border-radius: 10px;
}

/**************************************************** Navigation Bar Animation ****************************************************/
#workspaces-tab, #experiences-tab, #flex-your-space-tab {
    transition: color 0.3s ease;
}

#workspaces-tab::after, #experiences-tab::after, #flex-your-space-tab::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: black;
    bottom: -8px;
    left: 0;
    transition: width 0.4s ease;
}

#workspaces-tab:hover::after, #experiences-tab:hover::after, #flex-your-space-tab:hover::after {
    width: 100%;
    transition: width 0.4s ease;
    transform-origin: left;
}