* {
    font-family: "Inter";
    
}

a {
    text-decoration: none;
}

/**************************************************** Header Styling ****************************************************/
header {
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 1%;
}

.navigation-bar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#FlexWorkspaceLogo {
    max-width: 250px;
    height: auto;
    cursor: pointer;
}

.center-tabs-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 20px;
}

.rightmost-tabs-container {
    display: flex;
    gap: 20px;
}

#flex-your-space-tab {
    margin-right: 20px;
}

#workspaces-tab, #experiences-tab, #flex-your-space-tab, #work-with-us-tab {
    color: black;
    text-transform: none;
    text-decoration: none solid white;
    cursor: pointer;
    position: relative;
}

#workspaces-tab {
    font-weight: bold;
}

#work-with-us-tab {
    background-color: #EEEEEE;
    padding: 15px;
    border-radius: 50px;
}


/**************************************************** Main Styling ****************************************************/
main {
    margin-top: 3%;
}
/* Search Bar */
.search-bar-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.search-bar-form {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 50px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0);
    padding: 10px;
    position: relative;
    border: 1px solid lightgray;
}

.search-field {
    margin: 0 50px;
    /* text-align: center; */
    position: relative;
}

#location-label, #dates-label, #guests-label {
    font-weight: bold;
}

#search-magnifying-glass {
    background-color: #EEEEEE;
}

.search-btn {
    background-color: #EEEEEE;
    border: none;
    border-radius: 50px; 
    padding: 8px 12px;
    cursor: pointer;
    font-size: 22px;
    margin-left: 44px;
}

/**************************************************** Footer Styling ****************************************************/


/**************************************************** Navigation Bar Animation ****************************************************/
#workspaces-tab, #experiences-tab, #flex-your-space-tab {
    transition: color 0.3s ease;
}

#workspaces-tab::after, #experiences-tab::after, #flex-your-space-tab::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: black;
    bottom: -8px;
    left: 0;
    transition: width 0.4s ease;
}

#workspaces-tab:hover::after, #experiences-tab:hover::after, #flex-your-space-tab:hover::after {
    width: 100%;
    transition: width 0.4s ease;
    transform-origin: left;
}
