/* Owner Page Styling */

* {
    font-family: 'Inter', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: #000000;
    color: white;
}


/* Footer Styling */
#footer {
    margin-left: 4%;
    margin-right: 4%;
    border-top: solid white 1px;
    margin-top: 10%;
    display: flex;
    flex-wrap: wrap;
}

#footerImage {
    margin-top: 5%;
    width: 20%;
    margin-left: 5%;
    margin-right: 90%;
}

#twitter, #youtube, #instagram {
    width: 20%;
}

#socialLogos{
      float: right;
      margin-top: -7%;
      padding-bottom: 10%;
      width: 10%;

      position: relative;
      right: -80%;
}

.copyrights {
    margin-top: 5%;
    margin-left: 15%;
    margin-bottom: 5%;
}

#copyrights {
    color: white;
    margin: 10 auto;
    text-align: center;
}